
<%= form_for(@experience_category, remote: true, :html => {:role => "form" }) do |f| %>
    <div id="error_explanation" class="bg-danger text-danger"></div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.label :name, :class => "control-label" %>
          <%= f.text_field :name, :class => "form-control first_input"  %>
        </div>
        <div class="form-group">
          <%= f.submit  @experience_category.new_record? ? "Create Experience" : "Update Experience", :class => "btn btn-primary"%>
        </div>
      </div>
    </div>
<% end %>


