
<%= render 'shared/dashboard_header' %>
<%= render 'shared/dashboard_sidebar' %>
<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">
        <div clss="row">
          <div class="col-md-12 mt-5">

            <%= yield %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>