
<!-- Sidebar Holder -->
<nav id="sidebar">

  <div class="sidebar-header mt-5">
    <h2>Meir Rosilio</h2>
    <%= image_tag("profile_image.jpg", class: "img-circular") %>
  </div>

  <hr>


  <legend>-PROFILE-</legend>
  <div class="mx-3">
    <small>
      I am an entrepreneur who founded and served as a CEO of three companies in the last fives years.
      I am passionate about creating new products or services, business models, understanding and delivering
      a value to consumers or business.
    </small>
  </div>
  <hr>

  <legend>-CONTACT-</legend>
  <ul class="contact-information mx-3">
    <small><li> Address: Peat Hashulchan 5 Tel Aviv Jaffa</li></small>
    <small><li> Phone Number: 052-441-3673 </li></small>
    <small><li> Email: meirosilio@gmail.com</li></small>
  </ul>
  <hr>

  <legend>-Skills-</legend>

  <div class="progress mx-3 my-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <p class="mt-auto"><i>Team Managment</i></p>
    </div>
  </div>

  <div class="progress mx-3 my-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <p class="mt-auto"><i>Financial Projection</i></p>
    </div>
  </div>

  <div class="progress mx-3 my-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <p class="mt-auto"><i>Business Devlopment</i></p>
    </div>
  </div>

  <div class="progress mx-3 my-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <p class="mt-auto"><i>Ruby On rails</i></p>
    </div>
  </div>

  <div class="progress mx-3 my-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <p class="mt-auto"><i>Photoshop</i></p>
    </div>
  </div>

  <div class="progress mx-3 my-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <p class="mt-auto"><i>Android</i></p>
    </div>
  </div>

  <div class="progress mx-3 my-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <p class="mt-auto"><i>Analytics Tool</i></p>
    </div>
  </div>
</nav>




