

  <!-- Sidebar Holder -->
  <nav id="sidebar">

    <div class="sidebar-header">
      <h3>Meir Rosilio</h3>
    </div>

    <legend>-PROFILE-</legend>
    <small>
      I am an entrepreneur who founded and served as a CEO of two companies in the last three years.
      I am passionate about creating new products or services, business models, understanding and delivering
      a value to consumers or business.
    </small>

    <legend>-CONTACT-</legend>
    <small>
      Address: Peat Hashulchan 5 Tel Aviv Jaffa
      Phone Number: 052-441-3673
      Email: meirosilio@gmail.com
    </small>

    <legend>-Skills-</legend>
    <small>
      Address: Peat Hashulchan 5 Tel Aviv Jaffa
      Phone Number: 052-441-3673
      Email: meirosilio@gmail.com
    </small>


  </nav>




